php_flag display_errors off
ErrorDocument 401 http://www.old-bk.com/401.html
ErrorDocument 403 http://www.old-bk.com/403.html
ErrorDocument 404 http://www.old-bk.com/404.html
ErrorDocument 500 http://www.old-bk.com/500.html

